* {
    bg-col:  #1E1E2E;
    bg-col-light: #1E1E2E;
    border-col: #1E1E2E;
    selected-col: #1E1E2E;
    blue: #7aa2f7;
    fg-col: #D9E0EE;
    fg-col2: #F28FAD;
    grey: #D9E0EE;
    width: 600;
}

