* {
    border-radius: 0;
    font-family: BitStreamVeraSansMono Nerd Font;
    font-size: 11pt;
    min-height: 0;
}

window#waybar {
    background: #161616;
    color: #f2f4f8;
}

tooltip {
	background: #161616;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #8cb6ff;
	}

#workspaces {
    background: #282828;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

#workspaces button {
    padding-left: 5px;
    padding-right: 10px;
    min-width: 0;
    color: #f2f4f8;
}

#workspaces button.active {
    color: #ff7eb6;
}

#workspaces button.urgent {
    color: #be95ff;
}

#workspaces button:hover {
    background: #282828;
    border-color: #282828;
    color: #f16da6;
}

#clock, #battery, #backlight, #language, #pulseaudio, #workspaces, #tray, #custom-launcher, #custom-updates-pacman-aur, #custom-power {
    padding: 0px 15px;
    background: #282828;
    margin-top: 5px;
    margin-bottom: 5px;
}

#backlight {
    padding-right: 15px;
    margin-right: 5px;
    border-radius: 0px 15px 15px 0px;
}

#battery {
    margin-right: -15px;
}

#language{
    margin-left: 5px;
    margin-right: -15px;
    border-radius: 15px 0px 0px 15px;
}

#network {
    padding-left: 15px;
    padding-right: 0px;
    background: #282828;
    margin-top: 5px;
    margin-bottom: 5px;
}

#tray, #custom-updates-pacman-aur {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
}

#custom-power {
    color: #ff7eb6;
    padding-right: 18px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 15px;    
}

#custom-launcher {
    color: #8cb6ff;
    padding-right: 20px;
    padding-left: 15px;
    margin-right: 5px;
    margin-left: 10px;
    border-radius: 15px;    
}

#pulseaudio {
    padding-left: 15px;
    margin-left: 10px;
    margin-right: -15px;
    border-radius: 15px 0px 0px 15px;
}

#clock {
    padding-right: 5px;
    margin-right: 5px;
    margin-left: -22px;
    border-radius: 0px 15px 15px 0px;
}

#custom-media {
    background: #282828;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
}
